body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(images/haikei.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

small {
  color: #fff;
}

h1 {
  color: #DC2626;
  text-align: center;
  padding: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 30%;
  margin-top: 30px;
}

ul li {
  background-color: #991b1b;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  padding: 20px;
}

ul li h2 {
  margin: 0 0 10px 0;
  color: #FFF;
}

ul li p {
  color: #FFF;
  margin: 0;
}

.button-container {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DC2626;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.form-input {
  margin-bottom: 20px;
  width: 100%;
  color:#fff;
  padding-right:20px;
}

.form-input input,
.form-input textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.link-button {
  display: inline-block;
  background-color: #f97316;
  font-size: 17px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
}

.link-delete-button {
  display: inline-block;
  background-color: #cc361f;
  font-size: 17px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid;
  cursor: pointer;
}

.zunda-voice-button {
  display: inline-block;
  background-color: #36d20c;
  font-size: 17px;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid;
  cursor: pointer;
}
.zunda-button {
  display: inline-block;
  background-color: #008e32;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
}
.edit-delete-wrapper {
  display: flex;
  margin-top: 10px;
}

.container {
  margin-bottom: 30px; /*.containerの下に30pxのマージンを作る*/
  text-align: center; /*中央揃え*/
  }

.my-image {
display: block;/*マージンを適用させるため*/
margin: 30px auto; /*縦のマージンを30px、横のマージンを自動調整*/
width: 50%; /*親要素(.containerの横幅の50%に指定)*/
}

.play-sound {

background-color: #FF85CB;  /* 明るいピンク色 */
color: white;               /* 文字色は白 */
border-radius: 20px;        /* 角を丸くする */
padding: 10px 20px;         /* パディングを調整 */
font-size: 16px;            /* フォントサイズ */
font-family: 'Arial', sans-serif; /* フォントファミリー */
margin-top: 30px;
display: inline-block; /*inlineではmargin-topの調整ができないためinline-blockを指定*/
text-decoration: none; /*はなげ出てるよの下線を消す*/
}

.play-sound:hover {
  transform: scale(1.1);      /* ホバー時に少し大きくする */
}
